body
{
    font-family: 'Bree Serif', serif, Helvetica, sans-serif;
    font-size: 15px;
}

.input
{
    font-size: 20px;
    text-align: center;
}
.input ul
{
    display: inline-block;
    list-style: none;
}
.input ul li
{
    width: 20rem;
    height: auto;
    padding: 1rem;
    margin: 2rem;
    display: inline-block;
    overflow: hidden;

    border: 3px solid rgba(0,0,0,0.5);
}
.input ul li label
{
    display: block;
}
.input input
{
    display: block;
    height: 2rem;
    margin: auto;
    width: 9rem;

    text-align: center;
    color:rgba(0,0,0,0.75);

    border: 2px solid rgba(0,0,0,0.5);
}

.color-info
{
    text-align: center;
}
.my-color
{
    line-height:2.5rem;
}
.color-box
{
    display: inline-block;
    margin: 1rem;
    height: 8rem;
    width: 8rem;

    background: yellow;
    font-size: 15px;


    border-radius: 10%;
    border: 3px solid black;

}

.wrapper{
    overflow: hidden;
    background: white;
    margin-top: 2.75rem;
    height: 2.5rem;
    text-align: center;
}

.color-info span{
    display:block;
}
